<div class="row">
  <div class="col-md-3">
      <a href="/create" class="box">
        <div class="smallerbox">
        <p> Add Your Questions </p>
        <i class="fa fa-question-circle fa-4x"></i>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="/start" class="box">
        <div class="smallerbox">
        <p> <%if @textsent!= nil%>Check your phone! <%else%> Learn via SMS<%end%> </p>
        <i class="fa fa-mobile fa-4x"></i>
        </div>
      </a>
    </div>


  <div class="col-md-3">
      <a href="/online" class="box">
        <div class="smallerbox">
        <p> Learn Online </p>
        <i class="fa fa-desktop fa-4x"></i>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="/statistics" class="box">
        <div class="smallerbox">
        <p> View your Stats </p>
        <i class="fa fa-bar-chart-o fa-4x"></i>
        </div>
      </a>
    </div>
</div>
