<%= @message %>
<h1>Sign in</h1>
<form action="/sign-in" method="POST">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username">

  <label for="password">Password: </label>
  <input type="password" name="password" id="password">
  <input type="submit" value="sign in">
</form>
<a href="/sign-up">Sign up!</a>
