<div class="row">
  <div class="span4">
    <div class="logo">Text my password to me!</div>
  </div>
</div>

<div class="row">
  <div class="span4">
    <%if @message!=nil%>
    <div class="message"><%= @message %></div>
    <%end%>
  </div>
</div>

<div class="row">
  <div class="span4">
    <form action="/recovery" method="POST" class="form-horizontal">
      <div class="control-group">
        <div class="controls">
          <input class="userinfo" type="text" id="username" name="username" placeholder="Username">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input class="userinfo" type="phonenumber" id="phonenumber" name="phonenumber" placeholder="Phone Number">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input type="submit" class="signinbutton btn btn-default" value="Text me">
        </div>
      </div>
    </form>
  </div>
</div>
