<div class="row">
  <div class="span4">
    <div class="logo">Verify:</div>
  </div>
</div>

<div class="row">
  <div class="span4">
    <div class="message">
      <p>You have been sent a verification code via SMS!</p>
      <p>When you receive it, enter the verification code below:</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4">
    <form action="/sign-up" method="POST" id="verify-number" class="form-horizontal">
      <div class="control-group">
        <div class="controls">
          <input class="userinfo" type="text" id="phone_number" name="phone_number" placeholder="Phone number">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input class="userinfo" type="text" id="code" name="code" placeholder="Verification code">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input type="submit" name="submit" class="signinbutton btn btn-default" value="Verify">
        </div>
      </div>
    </form>
  </div>
</div>
