<h1>Sign up</h1>

<% if @user != nil %>
  <% @user.errors.each do |e| %>
  <p><%= e.first %></p>
  <% end %>
  <p><%= @message %></p>
<% end %>

<form action="/register" method="POST">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username">

  <label for="password">Password: </label>
  <input type="password" name="password" id="password">

  <label for="confirm_password">Confirm Password: </label>
  <input type="password" name="confirm_password" id="comfirm_password">

  <label for="phone_number">Phone Number: </label>
  <input type="text" name="phone_number" id="phone_number">



  <input type="submit" value="sign up">
</form>
