* {
  font-family: 'Roboto', sans-serif;
}

.welcome h1 {
  text-align: center;
}

div.form-group {
  position: relative;
  right: 100px;
}

#qset-form {
  position: relative;
  left: 5px;
}

#qset-form .btn {
  margin-left: 5px;
}

  .form-horizontal input.block-submit {
    position: relative;
    right: 27px;
    width: 95%;
  }
