* {
  font-family: 'Roboto', sans-serif;
}

.welcome {
 /*padding-top: 10px;*/
}

.signout {
  margin-top: 15px;
}

.fa {

}
a.box {
  text-decoration: none;
  text-align: center;
  color:#428bca;
}

.smallerbox {
  height: 100px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
}


