html {
    display: table;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.logo {
  font-family: Lusitana;
  font-weight: bold;
  font-size: 49px;
  color: white;
}

.control-group {
  margin: 15px;
}

.userinfo {
  width: 250px;
  height: 35px;
  border-radius: 5px;
  border: 0;
  padding: 8px;
  /*background-color: #f1edd3;*/
}

.signinbutton {
  border: 0;
  border-radius: 5px;
  margin: 0 8px;
  width: 115px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;

}
